@import '../../../shared/config/styles/vars';

.groups {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: stretch;

	margin: 0 calc( var(--p-box-s) / 2 * -1 );

	&_item {
		display: flex;
		flex: 0 0 100%;
		align-items: stretch;
		justify-content: stretch;

		padding: calc( var(--p-box-s) / 2 );

		&_in {
			display: flex;
			flex: 0 0 100%;
			align-items: center;
			justify-content: center;

			padding: var(--p-box-s);

			font-size: rem(18);
			font-weight: bold;
			text-align: center;

			border: 1px dashed var(--c-border);
			border-radius: var(--p-box-s);
		}

		a, a:hover {
			color: var(--c-body);
			text-decoration: none;
		}

		a:hover, a.active{ 
			color: var(--c-main);
			border-color: var(--c-main);
		}

	}
}

@media only screen and (width >= $mediaWidth__tablet) {
	.groups {
		&_item {
			flex: 0 0 50%;

			// flex: 0 0 calc(33% - (var(--p-box-s) ) );
		}
	}
}

@media only screen and (width >= $mediaWidth__pc) {
	.groups {
		&_item {
			flex: 0 0 33%;

			// flex: 0 0 calc(33% - (var(--p-box-s) ) );
		}
	}
}