@import '../../../shared/config/styles/vars';

.groups {
	display: flex;
	flex-wrap: wrap;

	// gap: var(--p-box-s);
	align-items: stretch;
	justify-content: stretch;

	margin: 0 calc( var(--p-box-s) / 2 * -1 );

	&_item {
		display: flex;
		flex: 0 0 50%;
		align-items: stretch;
		justify-content: stretch;

		padding: calc( var(--p-box-s) / 2 );

		&_in {
			position: relative;
			flex: 0 0 100%;
			border: 1px solid var(--c-border);
		}

		&_text {
			position: absolute;
			top: 0;
			left: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: 100%;
			padding: var(--p-box-s);

			font-size: rem(18);
			font-weight: bold;
			text-align: center;

			background-color: rgb(255 255 255 / 70%);
		}

		img {
			max-width: 100%;
			height: auto;

			// opacity: 0.7;
			transition: var(--transition);
		}

		a, a:hover {
			color: var(--c-body);
		}

		a:hover{ 
			img {
				// opacity: 1;
			}
		}

	}
}

@media only screen and (width >= $mediaWidth__tablet) {
	.groups {
		&_item {
			flex: 0 0 33%;

			// flex: 0 0 calc(33% - (var(--p-box-s) ) );
		}
	}
}

@media only screen and (width >= $mediaWidth__pc) {
	.groups {
		&_item {
			flex: 0 0 20%;

			// flex: 0 0 calc(33% - (var(--p-box-s) ) );
		}
	}
}