@import '../../../shared/config/styles/vars';

.CatalogCardContent {
	display: flex;
	flex-wrap: wrap;
	gap: var(--p-box-s);
	align-items: flex-start;
	justify-content: center;

	&_left, &_right {
		margin-bottom: var(--p-box-s);
	}

	&_left {
		flex: 0 0 rem(490);
		width: rem(490);
		max-width: 100%;

		// background-color: #6b6565;
	}

	&_right {
		flex: 1 1 auto;

		// background-color: #ccc;
	}
}

.cardBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-size: rem(14);
	color: #5A6378;
}

.cardPriceOld {
	font-size: rem(14);
	text-decoration: line-through;
}

.cardPriceNew {
	font-size: rem(18);
	font-weight: 600;
	color: var(--c-main);
}

@media only screen and (width >= $mediaWidth__pc) {
	.CatalogCardContent {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;

		&_left {
			max-width: 50%;
		}
	}	
}
