@import '../../../shared/config/styles/vars';

.groups {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: var(--p-box-s);

	&_item {
		margin: 0 rem(20) rem(10) 0;
		padding: 0 0 rem(5) 0;
		font-size: rem(16); 
	}

	a, a:hover {
		color: #6A6E7D;
		text-decoration: none;
		border-bottom: 3px solid transparent;
	}

	a:hover, a.active { 
		color: var(--c-main);
		border-color: var(--c-main);
	}

	a.active:hover { 
		color: var(--c-main-hover);
		border-color: var(--c-main-hover);
	}

}
