@import '../../../shared/config/styles/vars';

.cards {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin-left: calc( var(--p-box-s) * -1);

	a, a:hover {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		color: var(--c-main);
	}
}

.cardItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	max-width: rem(500);
	padding-top: 0;
	padding-bottom: var(--p-box-s);
	padding-left: var(--p-box-s);
}

.cardImage {
	position: relative;
	margin-bottom: var(--p-box-xs);

	/* stylelint-disable-next-line no-descending-specificity */
	a { 
		display: block;
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: var(--p-box-xs);
	}
}

.cardName {
	margin-bottom: var(--p-box-xs);
	font-size: rem(16);
	font-weight: 600;
}

.cardNotice {
	margin-bottom: var(--p-box-xs);
	font-size: rem(14);
	color: var(--c-catalog-notice);

	// color: #777D95;
}

.cardBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-size: rem(14);
	color: var(--c-catalog-notice);
}

.cardPriceOld {
	font-size: rem(14);
	text-decoration: line-through;
}

.cardPriceNew {
	font-size: rem(18);
	font-weight: 600;
	color: var(--c-main-hover);
}

.fav {
	position: absolute;
	top: var(--p-box-xs);
	right: var(--p-box-xs);

	opacity: 0.5;
	background-color: var(--c-bg-page);

	/*
	&:hover {
		opacity: 1;
		border-color: var(--c-main-hover);

		path {
			fill: var(--c-main-hover);
		}
	}
	*/
}

.favActive {
	opacity: 1;
	border-color: var(--c-main);

	/* stylelint-disable-next-line no-descending-specificity */
	path {
		fill: var(--c-main);
	}
	
}

.favNotMobile {
	&:hover {
		opacity: 1;
		border-color: var(--c-main-hover);

		path {
			fill: var(--c-main-hover);
		}
	}
}

@media only screen and (width >= $mediaWidth__tablet) {
	.cards {
		justify-content: flex-start;
	}

	.cardItem {
		flex: 0 0 50%;
	}
}

@media only screen and (width >= $mediaWidth__pc) {
	.cardItem {
		flex: 0 0 33.333%;
	}
}