@import '../../../shared/config/styles/vars';

// $mediaMinWidth: $mediaWidth__mobile + 'px';

.errorPage{
	display: flex;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;

	margin-bottom: var(--p-box);

	// margin-top: 0;
	// margin-bottom: rem(20);
	&_in {
		padding: rem(20);
		text-align: center;
		background-color: var(--c-bg-page);
		border-radius: rem(20);

		// font-size: rem(18);
	}

}

// from $mediaMinWidth to XXX [desctop version] / от 961 до XXX
@media only screen and (width >= 640px)
{
	.errorPage{
		&_in {
			padding: rem(40);
			border-radius: rem(40);
		}
	}

}