@charset "UTF-8";

@import '../vars';

// begin FORM
$c-form: var(--c-body);
$c-bg-form: var(--c-bg-body);
$c-border-form: var(--c-border);
$lh-form: 1.2;
$p-form: var(--p-box-xs);

/* stylelint-disable-next-line scss/comment-no-empty */
//
$c-main: var(--c-main);
$c-main-hover: var(--c-main-hover);
$c-main-active: var(--c-main-active);
$c-bg-body: var(--c-bg-body);

// end FORM

input, textarea, select, button {
	display: block;

	width: 100%;
	height: auto;
	padding: $p-form;

	line-height: $lh-form;

	// font-size: $fz-form
	// font-family: $ff-main
	color: $c-form;
	text-align: left;

	appearance: none;
	background-color: $c-bg-form;
	border: solid 1px $c-border-form;
	border-radius: rem(5);
	outline: none;

	&:focus {
		box-shadow: 0 0 rem(7) rgb(0 0 0 / 10%) ;
	}
}

input[type='color'] {
	cursor: pointer;
	height: rem(39);
}

/* stylelint-disable-next-line no-descending-specificity */
textarea {
	max-width: 100%;
	height: rem(150);
}

/* stylelint-disable-next-line no-descending-specificity */
select {
	cursor: pointer;
	
	text-indent: 0.01px ;
	text-overflow: '';
	
	appearance: none !important;
	background-color: $c-bg-form

	// background: url("/image/select.png") no-repeat center right
	// padding-right: rem(50)
}

select::-ms-expand {
	display: none;
}

.selectIcon {
	position: relative;
	display: block;
	padding: 0;

	&::after {
		content: '';

		position: absolute;
		z-index: -1;
		top: 50%;
		right: rem(10);

		display: block;

		width: 0;
		height: 0;
		margin-top: rem(-2);

		border: solid transparent rem(7);
		border-top-color: #000;
	}

	select{
		position: relative;
		background-color: transparent;
	}

	option{
		background-color: $c-bg-form;
	}
}

label {
	display: inline-block;
	padding: $p-form;
	line-height: $lh-form;

	// margin: $form-label-margin};
}

input[type='radio'], input[type='checkbox'] {
	cursor: pointer;

	display: inline-block;

	width: rem(15);
	height: rem(15);
	margin: 0;
	margin-top: -2px;
	padding: 0;

	line-height: $lh-form;
	vertical-align: middle;

	border: solid 1px $c-border-form;
	border-radius: 0;

	&:focus{
		box-shadow: none;
	}

	&:checked {
		background-color: $c-main;
		border-color: $c-main;
	}
}

/* stylelint-disable-next-line no-descending-specificity */
input[type='radio'] {
	border-radius: 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
.button, input[type='submit'], input[type='reset'], button {
	cursor: pointer;
	text-align: center;
	appearance: none;
}

input.button, button.button {
	color: $c-bg-body;
	text-align: center;
	background-color: $c-main;
	border-color: $c-main;

	&:hover {
		background-color: $c-main-hover;
	}

	&:active {
		background-color: $c-main-active;
	}
}