@charset "UTF-8"


input, textarea, select, button
	display: block
	width: 100%
	//font-size: $fz-form
	//font-family: $ff-main
	color: $c-form
	background-color: $c-bg-form
	border: solid 1px $c-border-form
	padding: $p-form

	height: auto
	line-height: $lh-form
	text-align: left
	outline: none
	-webkit-appearance: none
	border-radius: rem(5)
	&:focus
		box-shadow: 0 0 rem(7) rgba(0, 0, 0, 0.1) 
input[type=color]
	height: rem(39)
	cursor: pointer
textarea
	max-width: 100%
	height: rem(150)

select 
	-webkit-appearance: none
	-moz-appearance: none
	text-indent: 0.01px 
	text-overflow: ''
	-ms-appearance: none
	appearance: none !important
select::-ms-expand 
	display: none

select
	//background: url("/image/select.png") no-repeat center right
	background-color: $c-bg-form
	//padding-right: rem(50)
	cursor: pointer
.selectIcon
	display: block
	position: relative
	padding: 0
	&::after
		content: ''
		display: block
		position: absolute
		width: 0
		height: 0
		right: rem(10)
		top: 50%
		margin-top: rem(-2)
		border: solid transparent rem(7)
		border-top-color: #000
		z-index: -1
	select
		position: relative
		background-color: transparent
	option
		background-color: $c-bg-form



label
	line-height: $lh-form
	display: inline-block
	padding: $p-form
	//margin: $form-label-margin
input[type="radio"], input[type="checkbox"]
	cursor: pointer
	display: inline-block
	vertical-align: middle
	width: rem(15)
	height: rem(15)
	line-height: $lh-form
	padding: 0
	margin: 0
	border: solid 1px $c-border
	border-radius: 0
	line-height: $lh-form
	margin-top: -2px
	&:focus
		box-shadow: none
	&:checked
		background-color: $c-main
		border-color: $c-main
input[type="radio"]
	border-radius: 100%


.button, input[type=submit], input[type=reset], button
	cursor: pointer
	-webkit-appearance: none
	text-align: center

input.button, button.button
	background-color: $c-main
	border-color: $c-main
	color: $c-bg-body
	text-align: center
	&:hover
		background-color: $c-main-hover
	&:active
		background-color: $c-main-active
