@import "../vars.scss"

// begin: default style
*
	padding: 0
	margin: 0
	border: 0
*, *:before, *:after, *::before, *::after
	-moz-boz-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

nav, footer, header, aside, main, section
	display: block

html, body
	height: 100%
	width: 100%
	font-size: 100%
	line-height: 1

html
	box-sizing: border-box
	-moz-boz-sizing: border-box
	-webkit-box-sizing: border-box
	scroll-behavior: smooth // плавный скролл

	font-family: var(--ff-main)
body
	-webkit-font-smoothing: antialiased
	display: flex
	flex-direction: column
	min-width: 320px
	font-size: var(--fz-body)
	font-weight: var(--fw-normal)
	color: var(--c-body)
	background-color: var(--c-bg-body)
	overflow: hidden auto

// begin: Links and text
a:focus, a:active, :focus, :active
	outline: none
a,a:hover, a:focus, a:active, a:visited
	text-decoration: none
a
	&
		color: var(--c-a)
		text-decoration: none
	&:hover,&:active
		color: var(--c-a-hover)
		text-decoration: underline
	&:active, &.active
		color: var(--c-a-active)
		text-decoration: underline

a:not([href])
	cursor: inherit
	text-decoration: none
	color: var(--c-body)

img
	border-color: transparent
	vertical-align: top
strong, b
	font-weight: var(--fw-bold)
ul, ol
	list-style-type: none
h1,h2,h3,h4,h5,h6,p, ul, ol, li
	font-size: inherit
	font-weight: inherit


td, th, table
	margin: 0
	padding: 0
	border-collapse: collapse
	border-spacing: 0
	border-color: var(--c-border)
	//border: solid 1px var(--c-border)
	vertical-align: top
	text-align: left
	font-weight: inherit
// end: Links and text


// begin: form
input, button, textarea, select
	font-family: inherit
	font-size: inherit
input::-ms-clear
	display: none

button
	cursor: pointer
button::-moz-focus-inner
	padding: 0
	border: 0
// end: form

// end: default style


// begin: main template
.main
	flex: 1 0 auto
	display: flex
	justify-content: center
	align-items: stretch
	overflow: hidden
	max-width: 100%

	// flex-direction: column

.mainSection
	margin-top: var(--p-box)
	margin-bottom: var(--p-box)
	&_in
		background-color: var(--c-bg-page)
		padding: var(--p-box)
		padding-bottom: 0
		border-radius: var(--radius-middle)

.pBotBox
	padding-bottom: var(--p-box)

.mw, .maxWidth // add class to sections in .main
	width: var(--max-width) // centered = .main {justify-content: center}
	max-width: 100% 
	padding-left: var(--p-box)
	padding-right: var(--p-box)
	//flex: 1 0 auto

// remove scroll if there is little content
.root
	display: flex
	flex-direction: column
	flex: 1 0 auto
	align-items: stretch
	overflow: hidden
	max-width: 100%
	//justify-content: center

// end: main template


// begin: my styles need
.h1
	font-size: var(--fz-h1)
.h2
	font-size: var(--fz-h2)
.h3
	font-size: var(--fz-h3)
.h4
	font-size: var(--fz-h4)
.h5
	font-size: var(--fz-h5)
.h6
	font-size: var(--fz-h6)

.pageName
	font-size: var(--fz-h2)
	padding-bottom: var(--p-box-s)

//a, .button, input[type="radio"], input[type="checkbox"]
	// +transition ($transition)
// end: my styles need