@charset "UTF-8"
@import "../vars.scss"

.content
	line-height: 1.5

	img
		border-color: var(--c-border)
		max-width: 100%
		height: auto
		//margin: 0

	p, ul, ol, h1,h2,h3,h4,h5,h6, table, blockquote, aside
		margin-bottom: rem(10)	
		//line-height: 1.5
	
	//h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
		font-weight: var(--fw-normal)

	table
		border-collapse: collapse
		border-spacing: 0
		border: none
	td, th, table
		border-color: var(--c-border)
		border-style: solid
		border-width: 1px
		
	td, th
		vertical-align: top
		padding: var(--p-box-s)
		text-align: left
		p:last-child
			margin-bottom: 0
	ul, ol
		padding-left: rem(40)
		list-style-type: auto
	ul
		list-style-type: disc
	ol
		list-style-type: decimal


	.f-left img, img.f-left
		float: left
		margin: 0 var(--p-box-s) var(--p-box-s) 0
	.f-right img, img.f-right
		float: right
		margin: 0 0 var(--p-box-s) var(--p-box-s)

		
	&::after
		content: ''
		display: block
		clear: both
	blockquote, aside
		padding: var(--p-box-s)
		border: solid 1px var(--c-border)
		//&::before
			content: ''
			clear: both