@charset "UTF-8";

@import '../vars';

:root {
	--c-bg-form: #F7F8FB;
}

.app_dark_theme {
	--c-bg-form: #1C1C1C;
}

$c-form: var(--c-body);
$c-hover-form: var(--c-main);
$c-bg-form: var(--c-bg-form);
$c-border-form: transparent; // var(--c-border);
$lh-form: 1.2;
$p-form: var(--p-box-xs);
$radius-form: var(--p-box-xs);
$shadow-form: var(--box-shadow); // 0 0 rem(7) rgb(0 0 0 / 10%) ;

select {
	// https://www.sliderrevolution.com/resources/css-select-styles/
	cursor: pointer;

	display: inline-block;

	box-sizing: border-box;
	margin: 0;
	padding: $p-form;
	padding-right: 40px;

	font: inherit;
	line-height: 1;
	color: $c-form;

	appearance: none;
	background-color: $c-bg-form;
	background-image: linear-gradient(45deg, transparent 50%, $c-form 50%),
		linear-gradient(135deg, $c-form 50%, transparent 50%),
		linear-gradient(to right, $c-form, $c-form);
	background-repeat: no-repeat;
	background-position: calc(100% - 17px) 50%,
		calc(100% - 12px) 50%,
		calc(100% - 35px) 50%;
	background-size: 5px 5px,
		5px 5px,
		1px 50%;
	border: solid thin $c-border-form;

	&:hover {
		background-image: linear-gradient(45deg, transparent 50%, $c-hover-form 50%),
			linear-gradient(135deg, $c-hover-form 50%, transparent 50%),
			linear-gradient(to right, $c-form, $c-form);
	}
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

/* stylelint-disable-next-line no-descending-specificity */
input, textarea, select {
	display: block;

	width: 100%;
	height: auto;
	padding: $p-form;

	font-family: inherit;
	font-size: inherit;
	line-height: 1;
	color: $c-form;
	text-align: left;

	
	background-color: $c-bg-form;
	border: solid 1px $c-border-form;
	border-radius: $radius-form;
	outline: none;

	transition: var(--transition);

	&:focus {
		box-shadow: $shadow-form;
	}
}

input[type='color'] {
	cursor: pointer;
	width: rem(39);
	height: rem(39);
	padding: calc($p-form / 2);
}

/* stylelint-disable-next-line no-descending-specificity */
textarea {
	max-width: 100%;
	height: rem(150);
	line-height: 1.2;
}

label {
	display: inline-block;
	padding: $p-form;
	line-height: $lh-form;

	// margin: $form-label-margin;
}

input[type='radio'], input[type='checkbox'] {
	cursor: pointer;

	display: inline-block;

	width: rem(15);
	height: rem(15);
	margin: 0;
	margin-top: -2px;
	padding: 0;

	line-height: $lh-form;
	vertical-align: middle;

	appearance: none;
	border: solid 1px $c-hover-form;
	border-radius: 0;

	&:focus{
		box-shadow: none;
	}

	&:checked {
		background-color: $c-hover-form;
		border-color: $c-hover-form;
	}

	&:hover {
		border-color: $c-form;
	}

}

/* stylelint-disable-next-line no-descending-specificity */
input[type='radio'] {
	border-radius: 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
input[type='submit'], input[type='reset'] {
	cursor: pointer;
	text-align: center;

	// appearance: none;
}
