@import '../../../shared/config/styles/vars';

.header{
	overflow: hidden;
	max-width: 100%;
	padding-bottom: rem(100);

	&_in {
		position: fixed;
		z-index: 500;
		top: 0;
		left: 0;

		width: 100%;
		padding-top: var(--p-box-s);

		background-color: var(--c-bg-page);
		box-shadow: var(--box-shadow);
	}
}

.headerTop, .headerBot {
	display: flex;
	align-items: stretch;
	justify-content: center;	
}

.headerTop {
	padding-bottom: var(--p-box-s);
	
	&_in {	
		display: flex;
		gap: var(--p-box-s);
		align-items: center;
		justify-content: space-between;
	}

	&_left, &_center, &_right {
		// padding: 0 0 var(--p-box) var(--p-box);
	}
	
	&_left {
		padding-left: 0;
	}

	&_center {
		flex: 1 0 auto;
	}

	&_right { 
		display: flex;
		gap: var(--p-box-xs);
	}
}

.headerBot {
	padding: var(--p-box-xs) 0;
	color: var(--c-body);

	// background-color: #1c1c1c;
	background-color: #303030;

	&_in {
		display: flex;
		gap: var(--p-box-s);
		align-items: center;
		justify-content: space-between;
	}

	&_left, &_center, &_right {
		// padding: 0 0 0 var(--p-box);
	}

	&_left {
		// padding-left: 0;
	}
 
	&_center {
		flex: 1 1 auto;
	}

	&_right {
		display: flex;
		gap: var(--p-box-xs);		
	}
}

// $mediaWidth__mobile
// $mediaWidth__tablet
// $mediaWidth__pc
@media only screen and (width >= $mediaWidth__tablet) {
	.hideTablet {display: none;}
}

@media only screen and (width < $mediaWidth__tablet) {
	.hideMobile {display: none;}
}