@import '../../../shared/config/styles/vars';

.menuMobile {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: rem(-500);

	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: rem(480);
	height: 100%;

	color: var(--c-body);

	background-color: #303030;

	transition: var(--transition);

	>ul {
		overflow: auto;
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
	}

	li {
		margin-bottom: var(--p-box);
		text-align: center;
	}

	a, a:hover {
		display: inline-block;

		padding: var(--p-box-s);

		font-size: rem(18);
		color: #fff;
		text-align: center;
		text-decoration: none;		
	}
	
	a.active {
		color: var(--c-main);
	}

	a:hover {
		color: var(--c-main-hover);
	}

	.top {
		display: flex;
		align-items: center;
		justify-content: end;
		padding: var(--p-box);
	}

	.bottom {
		display: flex;
		gap: var(--p-box-s);
		align-items: center;
		justify-content: center;

		padding: var(--p-box);
	}
}

.menuOpen {
	left: rem(0);
}

.shadow {
	position: fixed;
	z-index: 900;
	top: 0;
	right: 0;

	width: 0;
	height: 100%;

	background-color: rgb(0 0 0 / 30%);

	transition: var(--transition);
}

.shadowOpen {
	width: 100%;
}