@import '../../../shared/config/styles/vars';

.menu {
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: var(--p-box-s);
	}

	a, a:hover {
		// display: inline-block;

		// padding: var(--p-box-s);

		font-size: rem(18);
		color: #fff;
		text-align: center;
		text-decoration: none;

		transition: var(--transition);
	}
	

	a.active {
		color: var(--c-main);
	}

	a:hover {
		color: var(--c-main-hover);
	}	
}
