@import '../../../shared/config/styles/vars.scss'

.swiperGallary
	margin-bottom: var(--p-box-xs)
	border-radius: var(--p-box-s)
	.swiper-slide
		border-radius: var(--p-box-s)
		overflow: hidden
.swiperGallaryThumbs
	margin-bottom: var(--p-box-s)
	border-radius: var(--p-box-xs)
	.swiper-slide
		border-radius: var(--p-box-xs)
		overflow: hidden

.swiperDesign
	position: relative
	img
		max-width: 100%
		height: auto
	.swiper-pagination
		padding: 0 5% rem(4) 5%
		bottom: 0
		//.swiper-pagination-bullets
		.swiper-pagination-bullet
			width: rem(15)
			height: rem(15)
			margin: 0 rem(4) rem(8) rem(4)
			//margin-top: 0
			// border: solid 1px #ff0000
			opacity: 0.4
			background-color: var(--c-main)
		.swiper-pagination-bullet-active
			opacity: 1

	.swiper-button-next, .swiper-button-prev
		position: absolute
		top: 0
		//right: 0
		display: block
		height: 100%
		width: 100px
		margin: 0
		//background-color: rgba(0,0,0)
		opacity: 0.2
		// +transition($transition)
		&::after
			display: none
		&::before
			//background: no-repeat center url(@img/img-sprite.svg#arr-right)
			content: ''
			display: block
			position: absolute
			top: 50%
			width: 100%
			height: rem(50)
			margin-top: rem(-25)
		&:hover
			opacity: 1
	.swiper-button-next
		right: 0
		background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
		&::before
			background: no-repeat center url(/public/static/image/arr-right.svg)
	.swiper-button-prev
		left: 0
		background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
		// &::before
			background: no-repeat center url(/image/arr-left.svg)

	//.swiper-slide-thumb-active
		opacity: 0.5


.swiperDesignThumbs
	.swiper-button-next, .swiper-button-prev
		width: 50px
		&::before
			height: rem(20)
			margin-top: rem(-10)

	.swiper-slide
		position: relative
		&::before, &::after
			content: ''
			position: absolute
			width: 100%
			height: 100%
			background-color: #000
			opacity: 0.5
		//&::after
			opacity: 0
			background-color: transparent
			border: solid 3px #fff
		&:hover
			&::before
				opacity: 1
				background-color: transparent
				border: solid 3px var(--c-border)
				border-radius: var(--p-box-xs)
				overflow: hidden
	.swiper-slide-thumb-active //, .swiper-slide:hover
		&::before
			opacity: 1
			background-color: transparent
			border: solid 3px var(--c-border)
			border-radius: var(--p-box-xs)
			overflow: hidden
			// border-bottom: solid 3px #fff
		//&::after
			opacity: 1
			