svg.logoThema {
	& >path {
		fill: var(--c-body);

		// stroke: var(--c-body);
	}

	& >path:first-child {
		fill: var(--c-main);
	}	

	& >path:last-child {
		fill: var(--c-body);
	}	
}

/*
svg.logoThema {
	& >g {
		fill: var(--c-main);

		& >path {
			stroke: var(--c-main);
		}

		& >g path:first-child {
			fill: var(--c-main);
		}	

		& >g path:last-child {
			fill: var(--c-body);
		}	
	}
}
*/