@import '../../../config/styles/vars';

.button {
	width: 100%;
	max-width: 100%;
	min-height: calc(40 / var(--rem) * 1rem);
	padding: calc(7 / var(--rem) * 1rem) var(--p-box);

	color: var(--c-border);

	background-color: transparent;
	border: none;
	border-radius: var(--radius);

	fill: var(--c-border);

	transition: var(--transition);
}

.buttonIn {
	display: flex;
	flex-wrap: nowrap;
	gap: var(--p-box-xs);
	align-items: center;
	justify-content: center;
}

.buttonIcon {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	width: calc(24 / var(--rem) * 1rem);
	height: calc(24 / var(--rem) * 1rem);

	svg {
		height: auto;
	}

	// padding-right: var(--p-box-xs); 
}

.bgNone {
	border: solid 1px var(--c-border);

	&:hover {
		color: var(--c-main);
		text-decoration: none;
		border-color: var(--c-main);
		fill: var(--c-main);
	}	
}

.bgMain {
	color: #fff;
	background-color: var(--c-main);
	fill: #fff;

	&:hover {
		background-color: var(--c-main-hover);
	}
}

.bgMainSecond {
	color: #fff;
	background-color: #646464;
	fill: #fff;

	&:hover {
		background-color: var(--c-main-hover);
	}
}

.withMax {
	width: 100%;
}

.withAuto {
	width: auto;
}

.withS {
	width: calc(150 / var(--rem) * 1rem);
}

.withM {
	width: calc(200 / var(--rem) * 1rem);
}

.noText {
	width: auto;
	min-width: calc(40 / var(--rem) * 1rem);
	padding: calc(7 / var(--rem) * 1rem);
}

@media only screen and (width >= $mediaWidth__tablet) {
	.button {
		min-height: calc(46 / var(--rem) * 1rem);
		padding: calc(7 / var(--rem) * 1rem) var(--p-box-s);
	}

	.buttonIcon {
		width: calc(30 / var(--rem) * 1rem);
		height: calc(30 / var(--rem) * 1rem);
	}	
}