/* stylelint-disable no-descending-specificity */
@use 'sass:math';

@import '../../../../shared/config/styles/vars';

$w: 20;
$h: 20;
$line: 2;

.buttonHamburger {
	cursor: pointer;

	&_in {
		position: relative;
		top: rem(math.div(-$line, 2));

		width: rem($w);
		height: rem($h);

		background-color: transparent;

		transition: var(--transition);
	}

	.left, .right {
		position: absolute;
		top: rem(math.div($h, 2));
		left: 0;

		width: rem(math.div($w, 2));
		height: rem($line);

		background-color: var(--c-border);

		transition: var(--transition);

		&::before, &::after {
			content: '';

			position: absolute;
			top: rem(math.div(-$h, 3));
			left: 0;

			width: rem(math.div($w, 2));
			height: rem($line);

			background-color: var(--c-border);

			transition: var(--transition);
		}

		&::after {
			top: rem(math.div($h, 3));
		}
	}

	.right {
		left: rem(math.div($w, 2));
	}

	&:hover .left, &:hover .right {
		background-color: var(--c-main);
		
		&::before, &::after {
			background-color: var(--c-main);
		}
	}

	&_open .left, &_open .right, &_open:hover .left, &_open:hover .right {
		background: transparent;
		transition: var(--transition);

		// transition-duration: 0.15s;
	}

	&_open .left::before {
		transform: rotateZ(45deg) scaleX(1.4) translate(rem(math.div($line, 2)), rem(math.div($line, 2)));
	}

	&_open .left::after {
		transform: rotateZ(-45deg) scaleX(1.4) translate(rem(math.div($line, 2)), rem(math.div(-$line, 2)));
	}

	&_open .right::before {
		transform: rotateZ(-45deg) scaleX(1.4) translate(rem(math.div(-$line, 2)), rem(math.div($line, 2)));
	}

	&_open .right::after {
		transform: rotateZ(45deg) scaleX(1.4) translate(rem(math.div(-$line, 2)), rem(math.div(-$line, 2)));
	}

}

/*
.buttonHamburger {
	position: relative;

	width: 60px;
	height: 60px;

	background-color: transparent;

	transition-duration: 0.5s;

	.left, .right {
		position: absolute;
		top: 30px;
		left: 0;

		width: 30px;
		height: 8px;

		background-color: var(--c-main);

		transition-duration: 0.5s;

		&::before, &::after {
			content: '';

			position: absolute;
			top: -20px;
			left: 0;

			width: 30px;
			height: 8px;

			background-color: var(--c-main);

			transition-duration: 0.5s;
		}

		&::after {
			top: 20px;
		}

	}

	.right {
		left: 30px;
	}

	&_open .left, &_open .right {
		background: transparent;
		transition-duration: 0.5s;
	}

	&_open .left::before {
		transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
	}

	&_open .left::after {
		transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
	}

	&_open .right::before {
		transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
	}

	&_open .right::after {
		transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
	}

}
*/
// <button className="buttonHamburger buttonHamburger_open">
// <div className="left"></div>
// <div className="right"></div>
// </button>