@import '../../../config/styles/vars';

.icon {
	position: relative;

	// overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	width: rem(40);
	height: rem(40);

	color: var(--c-body);

	background: transparent;
	border: solid 1px var(--c-border);
	border-radius: var(--radius);

	transition: border-color var(--transition);

	.alert {
		position: absolute;
		z-index: 10;
		top: 5px;
		right: 5px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 14px;
		height: 14px;

		font-size: rem(10);
		font-weight: var(--fw-bold);
		color: var(--c-body);

		background-color: var(--c-main);
		border-radius: 100%;
		
	}

	svg {
		max-width: 100%;
		max-height: 100%;
		padding: 18%;
	}

	g, path {
		fill: var(--c-border);
		transition: var(--transition);
	}

}

.iconText {
	display: flex;
	align-items: stretch;
	background: transparent;
	transition: color var(--transition);
	
	.text {
		display: none;
		align-items: center;

		padding: 0 var(--p-box-xs);

		color: var(--c-border);

		border: none;
		border-left: none;

		transition: var(--transition);
	}

	// .icon {
	// border-radius: var(--radius) 0 0 var(--radius);
	// }

}

.iconHover:hover, 
.iconHover:hover .icon, 
.iconTextHover:hover .text, 
.iconTextHover:hover .icon {
	cursor: pointer;
	color: var(--c-main);
	border-color: var(--c-main);

	g, path {
		fill: var(--c-main);
	}
}

a.icon, a.iconText {
	&, &:hover {
		text-decoration: none;
	}
}

@media only screen and (width >= $mediaWidth__tablet) {
	.icon {
		width: rem(50);
		height: rem(50);

		svg {
			padding: 20%;
		}
	}

	.iconText {
		.text {
			display: flex;
		}
	}

}
