.footer {
	overflow: hidden;
	display: flex;
	align-items: stretch;
	justify-content: center;

	max-width: 100%;
	padding: var(--p-box-s) 0;

	background-color: var(--c-bg-page);
	box-shadow: var(--box-shadow);

	&_in{
		display: flex;
		flex: 1 0 auto;
		gap: var(--p-box-s);
		align-items: center;
		justify-content: space-between;
	}

	&_left, &_center, &_right {
		// padding: 0 0 var(--p-box-s) var(--p-box-s);
	}
	
	&_left {
		padding-left: 0;
	}

	&_center {
		flex: 1 0 auto;
	}

	&_right {
		display: flex;
		gap: var(--p-box-xs);
	}
}