.errorText {
	display: flex;
	gap: var(--p-box-s);
	align-items: center;
	justify-content: center;

	color: var(--c-main);

	fill: var(--c-main);

	.icon {
		width: 40px;
		height: 40px;
	}

	svg {
		max-width: 100%;
		height: auto;
	}
}