.app_dark_theme {
	--c-body: #DFDFDF;
	--c-bg-body: #1C1C1C;
	--c-border: #646464;
	--c-main: #209cee;
	--c-main2: #209cee;
	--c-main-hover: #0190CA;
	--c-main-active: #0190CA;
	--c-a: var(--c-main);
	--c-a-hover: var(--c-main-hover);
	--c-a-active: var(--c-main-active);

	// section
	--c-bg-page: #000;
	--c-catalog-notice: #9699AB;
	--c-page: var(--c-body);
	--box-shadow: 0 0 calc(15 / var(--rem) * 1rem) var(--c-bg-body);
}

/*
@media (prefers-color-scheme: dark) {
	.app_dark_theme img, .app_dark_theme svg {
		filter: brightness(.8) contrast(1.2);
	}
}
*/