
:root {
	--rem: 16;
	
	// global vars
	--fw-bold: 700;
	--fw-normal: 400;
	--max-width: calc(1310 / var(--rem) * 1rem);
	--transition: 0.15s 0.05s ease;
	--radius: calc(10 / var(--rem) * 1rem);
	
	/* size */
	--fz-body: calc(16 / var(--rem) * 1rem);
	--p-box: calc(20 / var(--rem) * 1rem);
	--p-box-xs: calc(5 / var(--rem) * 1rem);
	--p-box-s: calc(10 / var(--rem) * 1rem);
	--radius-middle: calc(10 / var(--rem) * 1rem);
	
	// size h1-h6
	--fz-h1: calc(30 / var(--rem) * 1rem);
	--fz-h2: calc(24 / var(--rem) * 1rem);
	--fz-h3: calc(18 / var(--rem) * 1rem);
	--fz-h4: calc(12 / var(--rem) * 1rem);
	--fz-h5: calc(11 / var(--rem) * 1rem);
	--fz-h6: calc(10 / var(--rem) * 1rem);
	
	// font
	--ff-main: 'Roboto', arial, sans-serif, helvetica;
	
	// color
	// --c-border: #D8E2F3;
	--c-body: #1E203E;
	--c-bg-body: #DFDFDF;
	--c-border: #646464;
	--c-main: #02CC9B;
	--c-main2: #028361;

	// --c-main: #209cee;
	--c-main-hover: #01A272;
	--c-main-active: #01A272;
	--c-a: var(--c-main);
	--c-a-hover: var(--c-main-hover);
	--c-a-active: var(--c-main-active);
	
	// color section
	--c-bg-page: #fff;
	--c-catalog-notice: #545669;
	--c-page: var(--c-body);
	--box-shadow: 0 0 calc(15 / var(--rem) * 1rem) var(--c-bg-body);

	color-scheme: light dark;
}

/*
@media only screen and (width >= $mediaWidth__mobile) {
	// 320 +
	// :root {
	// }
}
*/

@media only screen and (width >= $mediaWidth__tablet) {
	// 640 +
	:root {
		// size
		--fz-body: calc(18 / var(--rem) * 1rem);
		--p-box: calc(40 / var(--rem) * 1rem);
		--p-box-xs: calc(10 / var(--rem) * 1rem);
		--p-box-s: calc(20 / var(--rem) * 1rem);
		--radius-middle: calc(20 / var(--rem) * 1rem);

		// size h1-h6
		--fz-h1: calc(36 / var(--rem) * 1rem);
		--fz-h2: calc(30 / var(--rem) * 1rem);
		--fz-h3: calc(24 / var(--rem) * 1rem);
		--fz-h4: calc(18 / var(--rem) * 1rem);
		--fz-h5: calc(12 / var(--rem) * 1rem);
		--fz-h6: calc(11 / var(--rem) * 1rem);
	}

}

/*
@media only screen and (width >= $mediaWidth__pc) {
	// 960 +
	// :root {
	// }
}
*/

// :root {
// --font-family-main: consolas, "Times New Roman", serif;
// --font-size-m: 16px;
// --font-line-m: 24px;
// --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
// --font-size-l: 24px;
// --font-line-l: 32px;
// --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
// --font-size-xl: 32px;
// --font-line-xl: 40px;
// --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

// // Размеры
// --navbar-height: 50px;
// --sidebar-width: 300px;
// --sidebar-width-collapsed: 80px;

// // z - Индексы
// --modal-z-index: 10;

// // Цвета
// --overlay-color: rgba(0 0 0 / 60%);
// --red-light: #f00;
// --red-dark: #ce0505;
// }
